.header {
    display: flex;
    justify-content: center;
    background-color: var(--clr-blue800);
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

.header__logo-wrapper {
    display: block;
    align-items: flex-end; 
}

.header__logo-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.header__title-wrapper {
    display: block;
    justify-content: right;
}

.header__title {
    font-size: var(--size-8xl);
    color: var(--clr-light);
    text-transform: capitalize;
}

.header__bars {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: var(--clr-yellow400);
    color: var(--clr-slate600);
    width: var(--size-4xl);
    height: var(--size-4xl);
    border-radius: var(--main-radius);
}


@media (min-width: 768px) {
    nav {
        grid-column: 3 / span 2;
        align-self: flex-end;
        padding-right: 1rem;
    }
    .header__menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        gap: 2rem;
    }
    .header__link {
        font-size: var(--size-2xl);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-light);
        letter-spacing: -0.05em;
    }
    .header__link:hover {
        color: var(--clr-rose);
        transition: color 0.3s;
    }

}

/* xs */
@media (max-width: 475px) {
    .header__title {
        font-size: var(--size-8xl);
        color: var(--clr-light);
        padding-left: 1rem;
    }
}
/* sm */
 /* @media (min-width: 640px) {}  */
/* md */
@media (max-width: 768px) {
    .header__menu {
        display: none;
    }
}

@media (min-width: 769px) {
    .header__bars {
        display: none;
    }
}
/* Lg */
/* @media (min-width: 1024px) {} */
/* xL */
/* @media (min-width: 1280px) {} */
/* 2xL */
/* @media (min-width: 1536px) {}  */