.home {
    display: flex;
    position: relative;
    background-image: url(/frank-mckenna-OD9EOzfSOh0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

#home input[type=text] {
    width: 350px;
    height: 40px;
    text-align: center;
}

.home__search {
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    gap: 0.5rem;
}

.search__submit {
    font-size: var(--size-base);
    color: var(--clr-slate600);
    background-color: var(--clr-yellow400);
    text-align: center;
    padding-right: 0.5rem;
    width: 75px;
    height: 40px;
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
 /* @media (min-width: 640px) {}  */
/* md */
@media (min-width: 768px) {
    #home input[type=text] {
        width: 500px;
        height: 50px;
    }
    
    .home__search {
        font-size: 18px;
        padding: 0.5rem;
        border-radius: 10px;
        width: 600px;
        height: 300px;
        gap: 0.5rem;
    }
    
    .search__submit {
        font-size: var(--size-base);
        color: var(--clr-slate600);
        background-color: var(--clr-yellow400);
        text-align: center;
        padding-right: 0.5rem;
        width: 75px;
        height: 50px;
    }
    
}
/* Lg */
/* @media (min-width: 1024px) {} */
/* xL */
/* @media (min-width: 1280px) {} */
/* 2xL */
/* @media (min-width: 1536px) {}  */