.sidebar {
    background-color: var(--clr-blue800);
}

.sidebar__title {
    font-size: var(--size-3xl);
    color: var(--clr-light);
    text-align: center;
    padding: 1rem;
}

.sidebar__img {
    background-image: url(/OIP-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100px;
}

.sidebar__space {
    background-color: var(--clr-blue800);
    padding-bottom: 35rem;
    border-radius: 0px 0px 5px 5px;
}

/* xs */
@media (max-width: 475px) {
    .sidebar {
        display: none;
    }
    
}
/* sm */
 /* @media (min-width: 640px) {}  */
/* md */
/* @media (min-width: 768px) {} */
/* Lg */
/* @media (min-width: 1024px) {} */
/* xL */
/* @media (min-width: 1280px) {} */
/* 2xL */
/* @media (min-width: 1536px) {}  */
