.sidebar {
    background-color: var(--clr-blue800);
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: start;

}

.sidebar__link {
    font-weight: 600;
    font-size: var(--size-xl);
    color: var(--clr-light);
    padding-top: 1rem;
    padding-right: 1rem;
    gap: 1rem;
}

/* xs */
@media (max-width: 475px) {
    .sidebar {
        display: none;
    }
    
}
/* sm */
 /* @media (min-width: 640px) {}  */
/* md */
/* @media (min-width: 768px) {} */
/* Lg */
/* @media (min-width: 1024px) {} */
/* xL */
/* @media (min-width: 1280px) {} */
/* 2xL */
/* @media (min-width: 1536px) {}  */
