.tallahassee__img {
    float: right;
    width: 200px;
    height: 75px;
    flex-wrap: wrap;
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
 @media (min-width: 640px) {
    .tallahassee__img {
        float: right;
        width: 200px;
        height: 75px;
    }
 }
/* md */
@media (min-width: 768px) {
    .tallahassee__img {
        float: right;
        width: 300px;
        height: 100px;
    }
}
/* Lg */
@media (min-width: 1024px) {
    .tallahassee__img {
        float: right;
        width: 400px;
        height: 100%;
    }
}
/* xL */
/* @media (min-width: 1280px) {} */
/* 2xL */
/* @media (min-width: 1536px) {}  */